<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1><a href="/">Home</a></h1>
    <h2><a href="/navigation/about">About</a></h2>
    <h2><a href="/navigation/contact">Contact</a></h2>
    <hr />
    <h2>Home</h2>
    <h4>Author : {{name}}</h4>
    <h4>Age : {{age}}</h4>
    <h4>{{list}}</h4>

    <!-- condintional  -->
    {% if age >= 18 %}
    <h4>You will get driving license</h4>
    {% elif age < 18 %}
    <h4>You will not get driving license</h4>
    {%endif%}
    <hr />
    <h2>Paid corses</h2>
    <ul>
      {%for course in courses%}
      <li>{{course.name}} : {{course.fee}} USD</li>
      {% endfor %}
    </ul>
  </body>
</html>
